<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Add a Movie</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="title", placeholder="Enter movie title" required>
            <button type="submit">Search & ADd</button>
        </form>

        <p style="text-align: center;"><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
    </div>
</body>
</html>